:root {
    --brand-color-1: #306054;
    --brand-color-2: #3C7361;
    --brand-color-3: #74AA9F;
    --brand-color-4: #79932D;
    --brand-color-5: #AAB754;
    --brand-color-6: #CCCE4B;
    --brand-color-7: #F7C852;
}

main {
    background: url(../images/header.svg) top no-repeat, url(../images/footer.svg) bottom no-repeat;
    background-size: contain;
    padding: 8rem 0;
    min-height: 100%;
}

body {
    font-family: 'Rounded1c-Regular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: auto;
    max-width: 50rem;
}

@media (max-device-width: 576px) {
    body {
        max-width: 100%;
    }

    h1, h2, body {
        font-size: 200%;
    }
}

@font-face {
    font-family: "Rounded1c-Regular";
    src: url(../fonts/MPLUSRounded1c-Regular.ttf);
}

svg {
    height: 10%;
    width: 10%;
}

a {
    display: block;
    text-align: center;
    padding-top: 1rem;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover {
    color: var(--brand-color-1);
    fill: var(--brand-color-7);
}

h1 {
    font-weight: bold;
    color: var(--brand-color-1);
}

h2 {
    color: var(--brand-color-4);
}
