:root {
    --brand-color-1: #f7e69e;
    --brand-color-2: #004f30;
    --brand-color-3: #f8d500;
    --brand-color-4: #e2b600;
    --brand-color-5: #db9500;
    --brand-color-6: #3768aa;
    --brand-color-7: #6dc0dd;
    --brand-color-8: #b41a25;
    --brand-color-9: #d91119;
}

main {
    min-height: 100%;
}

body {
    font-weight: normal;
    font-style: normal;
    margin: auto;
    max-width: 50rem;
}

@media (max-device-width: 576px) {
    body {
        max-width: 100%;
    }
}

svg {
    height: 10%;
    width: 10%;
}

a {
    display: block;
    text-align: center;
    padding-top: 1rem;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover {
    color: var(--brand-color-1);
    fill: var(--brand-color-7);
}
