tr {
    border-style: hidden;
}

@media screen and (max-device-width: 991px), screen and (max-width: 991px) {
    .border-sm {
        border-top: 3px dotted var(--brand-color-4);
        border-bottom: 3px dotted var(--brand-color-4);
    }
}
